html, body {
	padding: 0;
	margin: 0;
	color: #ffffff;
	font-size: 10pt;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
	background:
        linear-gradient(
          rgba(0, 0, 0, 0.8), 
          rgba(0, 0, 0, 0.95)
        ),
        url("../img/chimps_small.jpg");
		
	background-position: 50% 0%;
	background-size: 1920px 1080px;
	background-attachment: fixed;
}

a {
	text-decoration: none;
	color: #ffffff;
}

.center-container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.center-main {
	display: flex;
	flex-direction: row;
}

.contacts {
	display: flex;
	flex-direction: row;
}

.contacts a {
	margin-left: 10px;
}

.center-left-container {
	text-align: right;
	padding-right: 20px;
	border-right: 7px solid white;
	display: flex;
	flex-direction: column;
}

.center-right-container {
	margin-left: 20px;
	text-align: left;
}

.main-title {
	font-size: 64pt;
}

.main-link {
	display: inline-block;
}

.main-link {
    transition: transform 0.5s ease;
}

.main-link span {
	color: #333333;
}

.main-link:hover {
	cursor: pointer;
	transform: translate(1%, 0%);
}

.main-link:hover span {
	color: #ffffff;
}

.disclaimer {
	margin-top: 8px;
}

@media screen and (max-width: 1140px) {
	.center-main {
		flex-direction: column;
	}
	
	.center-left-container {
		flex-direction: row;
		border-right: none;
		border-bottom: 7px solid white;
	}
	
	.main-title {
		font-size: 9vw;
	}
}